service: stargazing

provider:
  name: kubeless
  runtime: nodejs6.10
  environment:
    WEBHOOK_URL: "https://hooks.slack.com/services/T0DMA.../..."

functions:
  stargazers:
    handler: stargazers.handler
    events:
      - http:
          path: /stargazer
